# Ignore Python virtual environments
.venv/
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore generated outputs
output/
visualizations/

# Ignore coverage and test artifacts
.coverage
htmlcov/

# Ignore local MLflow runs
experiments/mlruns/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore transient data
mlruns/
.ipynb_checkpoints/
*.log

# Ignore Jupyter notebook metadata
*.ipynb_checkpoints
